*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    background-color: #999;
    color: #999;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    font-size: 16px;
    margin:0;
}

a{
    color: #333;
    text-decoration: none;
}

p{
    line-height: 2;
}

/*
 * OOCSS
 */

.panel{
    min-height: 1200px;
    padding: 4rem;
}

.margin-0{
    margin: 0;
}

/*
 *
 */

.content{
    background: #fff;
    min-height: 100%;
    margin: 0 auto;
    max-width: 80em;
}

.main-nav{
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
}

.main-nav-list{
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-nav-item{
    display: block;
    float: left;
    clear: left;
}

.main-nav-link{
    display: block;
    height: 100px;
    margin: 10px 0 0 -50px;
    position: relative;
    width: 100px;

    transition: margin .5s cubic-bezier(0.23, 1, 0.32, 1);
}

.main-nav-link:before{
    background: #fff;
    border-radius: 5%;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateZ(0px);+
           -transform: translateZ(0px);

    transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
    transition-property: background-color, border-radius;
}

.no-touch .main-nav-link:hover:before,
.main-nav-link-pseudo-hover:before{
    border-radius: 100%;
}

.no-touch .main-nav-item:nth-of-type(1) .main-nav-link:hover:before,
.main-nav-item:nth-of-type(1) .main-nav-link-pseudo-hover:before{ background-color: #89CFE4; }

.no-touch .main-nav-item:nth-of-type(2) .main-nav-link:hover:before,
.main-nav-item:nth-of-type(2) .main-nav-link-pseudo-hover:before{ background-color: #FDE602; }

.no-touch .main-nav-item:nth-of-type(3) .main-nav-link:hover:before,
.main-nav-item:nth-of-type(3) .main-nav-link-pseudo-hover:before{ background-color: #FDC130; }

.no-touch .main-nav-item:nth-of-type(4) .main-nav-link:hover:before,
.main-nav-item:nth-of-type(4) .main-nav-link-pseudo-hover:before{ background-color: #F26005; }

.main-nav-link i{
    color: #ccc;
    font-size: 50px;
    margin: 25px 0;
    position: relative;
    z-index: 2;
}

.no-touch .main-nav-link:hover i,
.main-nav-link-pseudo-hover i{
    color: #fff;
}

.main-nav-label{
    color: #fff;
    display: block;
    font-size: 50px;
    left: 0px;
    font-weight: bold;
    letter-spacing: -.06em;
    line-height: 100px;
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    -webkit-transform: translateZ(0px);
           -transform: translateZ(0px);

    transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
    transition-property: left, opacity;
}

.main-nav-item:nth-of-type(1) .main-nav-label{ color: #89CFE4; }
.main-nav-item:nth-of-type(2) .main-nav-label{ color: #FDE602; }
.main-nav-item:nth-of-type(3) .main-nav-label{ color: #FDC130; }
.main-nav-item:nth-of-type(4) .main-nav-label{ color: #F26005; }

.no-touch .main-nav-link:hover .main-nav-label,
.main-nav-link-pseudo-hover .main-nav-label{
    left: 110px;
    opacity: 1;
}

/*
 * Home page state
 */

.main-nav-is-home{
    background-color: rgba(0, 0, 0, .5);
    right: 0;
    bottom: 0;
}

.main-nav-is-home .main-nav-list{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -100px;
}

.main-nav-is-home .main-nav-item{
    display: inline-block;
    float: none;
    clear: none;
}

.main-nav-is-home .main-nav-item-home{
    display: none;
}

.main-nav-is-home .main-nav-link{
    height: 200px;
    margin: 0 -1rem;
    width: 200px;
}

.no-touch .main-nav-is-home .main-nav-link:hover,
.main-nav-is-home .main-nav-link-pseudo-hover{
    margin: 0 4rem;
}

.main-nav-is-home .main-nav-link i{
    font-size: 100px;
    margin-top: 50px;
}

.main-nav-is-home  .main-nav-label{
    line-height: 1;
    top: 100%;
    right: 0;
}

.no-touch .main-nav-is-home .main-nav-link:hover .main-nav-label,
.main-nav-is-home .main-nav-link-pseudo-hover .main-nav-label{
    left: 0;
}

/*
 *
 */ 

@media screen and (min-width: 40em) {
    /*
    .main-nav-list{
        margin-top: -100px;
    }
    .main-nav-link{
        width: 200px;
        height: 200px;
    }
    .main-nav-link i{
        font-size: 100px;
        margin: 50px 0;
    }*/
/*    .main-nav-label{
        line-height: 1;
        right: 0;
        top: 100%;
    }
    .main-nav-link:hover .main-nav-label{
        left: 0;
    }*//*
    .main-nav-label{
        display: none;
    }*/


}
