<!DOCTYPE html>
<html class="">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' type='text/css'>
        <link rel='stylesheet' href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel='stylesheet' href="{{ site.baseurl }}css/main.css" >
        <script type="text/javascript">
            //if the site is not accessed from the root, redirect
            console.log(document.location.pathname);
            if(!(
                document.location.pathname === '/' ||
                document.location.pathname === '/index.html'
            )){
                window.location = '/?section='+ document.location.pathname;
            }
        </script>
    </head>
    <body>
        <div class="content">
            <nav class="main-nav">
                <ul class="main-nav-list"><!--
                    --><li class="main-nav-item" id="main-nav-item-home">
                        <a class="main-nav-link" href="/">
                            <i class="main-nav-icon fa fa-fw fa-home"></i><span class="main-nav-label">Home</span>
                        </a>
                    </li><!--
                    --><li class="main-nav-item" id="main-nav-item-about">
                        <a class="main-nav-link" href="/about.html">
                            <i class="main-nav-icon fa fa-fw fa-camera"></i><span class="main-nav-label">About</span>
                        </a>
                    </li><!--
                    --><li class="main-nav-item" id="main-nav-item-work">
                        <a class="main-nav-link" href="/work.html">
                            <i class="main-nav-icon fa fa-fw fa-dashboard"></i><span class="main-nav-label">Work</span>
                        </a>
                    </li><!--
                    --><li class="main-nav-item" id="main-nav-item-contact">
                        <a class="main-nav-link" href="/contact.html">
                            <i class="main-nav-icon fa fa-fw fa-envelope"></i><span class="main-nav-label">Contact</span>
                        </a>
                    </li><!--
                --></ul>
            </nav>